<ion-header>
  <ion-toolbar>
    <ion-title>Give Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select Student</ion-label>
    <ion-select [(ngModel)]="selectedStudent">
      <ion-select-option *ngFor="let student of students" [value]="student.uid">
        {{ student.email }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="feedback.name" placeholder="Enter name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="feedback.description" placeholder="Enter feedback"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="giveFeedback()">Submit Feedback</ion-button>
</ion-content>
