<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="background-pattern">
    <img src="assets/images/fondo.png" alt="Background Pattern" class="background-fill" />
    <img src="assets/images/logo2.png" alt="App Logo" class="app-logo" />
  </div>

  <div class="login-card">
    <h1>ENGLISH TEA</h1>
    <p>Identifícate para continuar</p>

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">USUARIO</ion-label>
      <ion-input type="text" [(ngModel)]="email" placeholder="Nombre de Usuario"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">CONTRASEÑA</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="••••••"></ion-input>
    </ion-item>

    <ion-button (click)="login()" shape="round" expand="block" class="login-button">Entrar</ion-button>

    <ion-text color="medium" class="forgot-password" (click)="forgotPassword()">
      ¿Olvidaste tu contraseña?
    </ion-text>

    <ion-button fill="clear" color="primary" (click)="navigateToRegister()">Register</ion-button>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</ion-content>
