<!-- src/app/tab2/tab2.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToUpdateProfile()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div class="user-info" *ngIf="user$ | async as user">
      <ion-avatar>
        <img [src]="user.photoURL || 'assets/images/9187604.png'" alt="User Icon">
      </ion-avatar>
      <h2>{{ user.displayName || 'User' }}</h2>
      <p>{{ user.email }}</p>
    </div>

    <div class="stats" *ngIf="stats">
      <ion-card>
        <ion-row>
          <ion-col>
            <ion-icon name="document-text-outline" color="danger"></ion-icon>
            <p>{{ stats.clasesCompletadas }}</p>
            <small>Clases Completadas</small>
          </ion-col>
          <ion-col>
            <ion-icon name="clipboard-outline" color="danger"></ion-icon>
            <p>{{ stats.tareasCompletadas }}</p>
            <small>Tareas Completadas</small>
          </ion-col>
          <ion-col>
            <ion-icon name="trophy-outline" color="danger"></ion-icon>
            <p>{{ stats.logros }}</p>
            <small>Logros</small>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="current-course" *ngIf="currentCourse">
      <ion-card>
        <ion-img [src]="currentCourse.image"></ion-img>
        <ion-card-content>
          <h3>{{ currentCourse.title }}</h3>
          <p>{{ currentCourse.description }}</p>
          <ion-button expand="block" fill="clear" color="primary" (click)="goToLessons(currentCourse.id, currentCourse.title)">
            Ver más
          </ion-button>
          <ion-progress-bar [value]="currentCourse.progress / 100"></ion-progress-bar>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="recent-sessions" *ngIf="recentSessions">
      <h3>Últimas sesiones <ion-icon name="book-outline"></ion-icon></h3>
      <ion-scroll scrollX="true">
        <ion-card *ngFor="let session of recentSessions">
          <ion-card-content>
            <p>{{ session.sessionNumber }}</p>
            <ion-button size="small" fill="clear">Ver comentarios</ion-button>
            <small>{{ session.title }}</small>
          </ion-card-content>
        </ion-card>
      </ion-scroll>
    </div>

    <!-- "Dar Feedback" button for teachers -->
    <ion-button *ngIf="userRole === 'teacher'" expand="block" (click)="giveFeedback()">
      Dar Feedback
    </ion-button>

    <!-- Feedback viewing button for students -->
    <div *ngIf="userRole === 'student' && feedbacks.length > 0">
      <h3>Feedbacks Recibidos</h3>
      <ion-list>
        <ion-item *ngFor="let feedback of feedbacks" (click)="toggleFeedbackDescription(feedback)">
          <ion-label>
            <h2>{{ feedback.name }}</h2>
            <p>Teacher: {{ feedback.teacherName }}</p>
            <p *ngIf="feedback.showDescription">{{ feedback.description }}</p>
            <small>{{ feedback.date | date }}</small>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
