/* src/app/tab2/tab2.page.scss */
.profile-container {
  padding: 16px;
  background-image: url('/assets/images/whiteback.png'); /* Absolute path from the project root */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100%; /* Ensure it covers the full height of the content */
  width: 100%; /* Ensure it covers the full width */
  box-sizing: border-box; /* Include padding and border in width and height calculations */

  .user-info {
    text-align: center;
    ion-avatar {
      margin: auto;
      display: block;
      width: 80px;
      height: 80px;
    }
    h2 {
      font-size: 20px;
      margin: 10px 0 5px;
    }
    p {
      color: #888;
    }
  }

  .stats {
    margin: 20px 0;
    ion-card {
      text-align: center;
      ion-card-header {
        font-weight: bold;
      }
    }
  }

  .current-course {
    margin-top: 20px;
    ion-card {
      ion-img {
        border-radius: 8px;
        height: 120px;
        object-fit: cover;
      }
      ion-card-content {
        text-align: left;
      }
    }
  }

  .recent-sessions {
    margin-top: 20px;
    h3 {
      font-weight: bold;
    }
    ion-scroll {
      display: flex;
      overflow-x: auto;
      ion-card {
        min-width: 120px;
        margin-right: 10px;
      }
    }
  }
}
