<!-- src/app/tab3/tab3.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToUpdateProfile()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tab3-container">
  <ion-card *ngFor="let course of courses">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <ion-img [src]="course.image" alt="{{ course.title }}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ course.title }}</h2>
        <p>{{ course.description }}</p>
      </ion-label>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="viewMore(course.id)">Ver más</ion-button>
  </ion-card>
</ion-content>
