<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-title>{{ courseTitle }} - My Lessons</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToUpdateProfile()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="lessons-container">
    <ng-container *ngFor="let level of levels">
      <div [ngClass]="'level-' + level.number" class="level-section">
        <div class="lesson-card" *ngFor="let lesson of level.lessons">
          <ion-card>
            <ion-card-header>
              <ion-label class="level-number">{{ level.number }}</ion-label>
              <h2>{{ lesson }}</h2>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>
